
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
    }

    h1 {
      margin-bottom: 20px;
      text-align: center;
    }
    h2 {
        margin-bottom: 20px;
        text-align: center;
    }  

    .dashboard {

        grid-gap: 2px;
        border-style: solid;
      }

    .dashboard_in {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2px;
      border-style: solid;
    }

    .dashboard_main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2px;
        border-style: solid;
      }

    .card {
      background-color: #f4f4f4;
      padding: 2px;
      border-radius: 10px;
    }

    .card h2 {
      margin-top: 0;
      font-size: 24px;
      color: #333;
    }

    .card p {
      margin-top: 10px;
      font-size: 18px;
      color: #777;
    }

    .gauge {
      width: 100px;
      height: 75px;
      margin: 0 auto;
    }

    .value {
      font-size: 24px;
      text-align: center;
      margin-top: 20px;
    }
